// Typography
$font-stack: 'Arial', sans-serif !default;
$text-color: #240130 !default;
$font-primary: 'Poppins', sans-serif;

// Colors
$primary-color: #007bff !default; // Default blue
$secondary-color: #ff5722 !default; // Default orange

// Layout
$max-width: 1440px !default;

// Spacing
$header-padding: 20px !default;
$section-padding: 40px 20px !default;
$cta-padding: 50px 20px !default;
$button-padding: 10px 20px !default;
