.clients {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 100px 0;
  overflow: hidden;

  h2 {
    padding: 0;
    margin-bottom: 20px;
  }

  p {
    max-width: 462px;
    text-align: center;
    margin: 0 auto 60px;
    line-height: 140%;
  }

  .clients-list {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 60px;
    overflow-x: scroll;
    padding: 0 50px;
    scrollbar-width: none;
  }
}
