.concerns {
  background: url('/img/concerns.png') no-repeat center center;
  padding: 80px;
  border-radius: 32px;
  width: 100%;
  height: 100%;
  margin-bottom: 100px;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  .text-container {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
    margin-right: 100px;
    max-width: 460px;

    button {
      margin-top: 40px;
      padding: 15px 60px;
      font-size: 16px;
      text-wrap: nowrap;
    }

    @media (max-width: 768px) {
      margin-right: 0;
    }
  }

  h2 {
    padding: 0;
    margin-bottom: 20px;
    text-align: left;
    line-height: 120%;
  }

  h5 {
    font-size: 28px;
    font-weight: 600;
    color: white;

    span {
      background: #e04aff;
      color: white;
      border-radius: 100px;
    }

    @media (max-width: 768px) {
      font-size: 18px;
      visibility: hidden;
    }
  }
  @media (max-width: 768px) {
    font-size: 18px;
  }
}
