@import '../helpers/mixins';

p {
  @include flex-center;
}

body {
  color: $text-color;
  margin: 0;
  padding: 0;
  max-width: 1440px;
  min-height: 100vh;
}

header {
  color: white;
  padding: 20px 0;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin: 0;
}

section {
  padding: 40px 20px;
  text-align: center;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #222;
  color: white;
}
