@import '../helpers/mixins';

p {
  @include flex-center;
}

html {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  color: $text-color;
  font-family: $font-primary;
  display: flex;
  min-height: 100vh;

  flex-direction: column;
  justify-content: space-between;
}

main {
  margin: 120px 0px;
}

section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px 0 100px;
  gap: 20px;

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 0 22px;
  }
}

button {
  @include button;
}

header {
  padding: 20px 0;
  text-align: center;
}

h1 {
  color: rgb(36, 1, 48);
  font-family: Poppins;
  font-size: 68px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

h2 {
  margin: 0 auto;
  font-size: 52px;
  font-weight: 700;
  padding-bottom: 72px;

  span {
    background: #e04aff;
    color: white;
    border-radius: 100px;
  }

  @media (max-width: 768px) {
    font-size: 32px;
    padding-bottom: 48px;
  }
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #222;
  color: white;
}
