@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  color: #240130;
  font-family: "Poppins", sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

main {
  margin: 120px 0px;
}

section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px 0 100px;
  gap: 20px;
}
@media (max-width: 768px) {
  section {
    flex-direction: column;
    padding: 0 22px;
  }
}

button {
  padding: 10px 20px;
  background-color: white;
  border: 1px solid #240130;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #240130;
  color: white;
}

header {
  padding: 20px 0;
  text-align: center;
}

h1 {
  color: rgb(36, 1, 48);
  font-family: Poppins;
  font-size: 68px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #222;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 100px 0 100px;
}
@media (max-width: 768px) {
  nav {
    padding: 0 22px;
  }
}

header section {
  padding: 80px 100px 0px 100px;
  display: flex;
  align-items: start;
}
@media (max-width: 768px) {
  header section {
    padding: 50px 20px 0px;
  }
  header section p {
    text-align: center;
    line-height: 140%;
  }
}
header h1 {
  color: rgb(36, 1, 48);
  font-size: 68px;
  font-weight: 700;
  letter-spacing: 0%;
  text-align: left;
}
@media (max-width: 768px) {
  header h1 {
    font-size: 46px;
    text-align: center;
  }
}
header .hero-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 24px;
  max-width: 473px;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  header .hero-text {
    max-width: 100%;
  }
}
header .buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
header .buttons button {
  width: 100%;
  font-size: 16px;
  padding: 16px 64px;
}
header .buttons .filled {
  background-color: #240130;
  color: white;
}
@media (max-width: 768px) {
  header .buttons {
    margin: 0 20px;
    flex-direction: column;
  }
}
header .langs-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 60px;
  gap: 20px;
  max-width: 400px;
}
header .langs-container .langs {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
header .langs-container p {
  color: rgb(141, 154, 164);
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  text-align: left;
  align-self: start;
}
@media (max-width: 768px) {
  header .langs-container {
    margin-top: 20px;
    justify-content: center;
  }
  header .langs-container p {
    align-self: center;
  }
}
header .rectangle {
  width: 570px;
  height: 360px;
  border-radius: 32px;
  background-color: #240130;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  header .rectangle {
    margin-top: 30px;
    width: 100%;
    height: 207px;
    border-radius: 16px;
  }
}

.services {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.services h2 {
  margin: 0 auto;
  font-size: 52px;
  font-weight: 700;
  padding-bottom: 72px;
}
.services .services-list-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  margin: 0 auto;
}
.services .services-list-container .s-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.services .services-list-container .s-list h5 {
  font-size: 22px;
  line-height: 130%;
  font-weight: 500;
}
.services .services-list-container .s-list img {
  width: 48px;
  height: 48px;
}
.services .services-list-container .s-list ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (max-width: 768px) {
  .services .services-list-container {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
}/*# sourceMappingURL=index.css.map */